.team-events {
  margin: 20px;

  .events {
    th {
      color: red !important;
      text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }

    a {
      color: red;
    }
  }

  .card {
    background-color: #6c757db0 !important;
    border: 5px solid #6c757d !important;
    // border: none !important;
    max-width: 80%;
    margin: auto !important;
  }
}
