.tool-bar {
  background: #ededed;
  height: 80px;
  line-height: 14px;
  padding: 5px 10px;
  text-align: center;
  // padding-left: 60px;
}

.dhx_cal_navline.dhx_cal_navline_flex .dhx_cal_tab {
  color: #ed1e24;
  box-shadow: -1px 0 0 #ed1e24;
  border: 5px solid #ed1e24;
}

.dhx_cal_tab.active {
  background: #6b6866;
}

.dhx_cal_prev_button,
.dhx_cal_nav_button, 
.dhx_cal_next_button {
  color: #ed1e24;
}


.title {
    color: #ed1e24 !important;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin: auto;
    font-size: 2rem;
    font-weight: 600;
  }

  .refreshbutton {
    margin: 10px;
    background-color: #dcb7b8;
  }