.pumpkinSmash {
  color: black;
  position: relative;
  z-index: 1000;
  background-color: #f54013;

  .plain {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
  }

  .fancy {
    color: black !important;
    font-family: 'HalloweeenSpider', 'sans-serif';
    // text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 3rem;
    font-weight: 400;
  }
  padding: 0;
  height: 420px;
  text-align: center;
  cursor: pointer;
  border: 5px solid #f54013;
  margin-bottom: 20px;

  // .iframe-container {
  //   position: relative;
  //   overflow: hidden;
  //   padding-top: 56.25%;

  //   iframe {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     border: 0;
  //   }
  // }
}

@media screen and (min-width: 450px) {
  .pumpkinSmash {
    height: 300px;
    width: 100% !important;
    max-width: 1026px;
    margin-bottom: 20px;

  }
}
