

.all-teams {
  min-width: 100%;
  height: 115vh;
  flex: 1 1 auto;
  display: block;
  justify-content: center;
  border: 5px solid #ed1e24;
  margin: 0 7.5px 15px;
  overflow: hidden;
  padding-top: 20px;
  // background-color: red;


  .content {
    width: fit-content;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: red;
    opacity: 1;
    position: relative;
    top: 0%;
    text-align: center;
    font-weight: bold;
    font-size: 22px;

    .title {
      color: #f8f5f5;
      padding: 5px;
      margin: 0;
      
    }
  }
  .team-menu {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 450px) {
  .all-teams {
    max-width: 1020px;
    height: auto;

    .content {
      margin: 0 auto;
    }

    .team-menu {
      min-width: 50%;
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  
}

