.scheduler-container {
  height: calc(90vh);
  width: 100vw;
  box-sizing: content-box;
}

.dhx_cal_data table {
  table-layout: fixed;
  width: 100%;
}

    /*event in day or week view*/
    .dhx_cal_event.Rich_event div{
        background-color: #ed1e24 !important;
        // color: black !important;
    }
    
    .dhx_cal_event.Jim_event div{
        background-color: #6b6866 !important;
        // color: black !important;
    }
    .dhx_cal_event.Mike_event div{
        background-color: black !important;
        // color: black !important;
    }
     
     .dhx_cal_event.Jeremy_event div{
        background-color: rgb(161, 7, 7) !important;
        // color: black !important;
    }
     .dhx_cal_event.Diane_event div{
        background-color: #ed1e24 !important;
        // color: black !important;
    }
 
    /*multi-day event in month view*/
    .dhx_cal_event_line.Diane_event{
        background-color: #ed1e24
         !important;
        // color: black !important;
    }
    .dhx_cal_event_line.Rich_event{
        background-color: #ed1e24 !important;
        // color: black !important;
    }

    .dhx_cal_event_line.Mike_event{
      background-color: black !important;
        // color: black !important;
    }

    .dhx_cal_event_line.Jeremy_event{
      background-color: rgb(161, 7, 7) !important;
        // color: black !important;
    }

    /*event in month view*/
    .dhx_cal_event_clear.dhx_cal_event_line_start.dhx_cal_event_line_end.Rich_event {
        color: #ed1e24 !important;
    }
    .dhx_cal_event_clear.dhx_cal_event_line_start.dhx_cal_event_line_end.Jim_event {
        color: #6b6866 !important;
    }
    .dhx_cal_event_clear.dhx_cal_event_line_start.dhx_cal_event_line_end.Mike_event {
        color: black !important;
    }
     
     .dhx_cal_event_clear.dhx_cal_event_line_start.dhx_cal_event_line_end.Jeremy_event {
        color: rgb(161, 7, 7) !important;
    }
     .dhx_cal_event_clear.dhx_cal_event_line_start.dhx_cal_event_line_end.Diane_event {
        color: #ed1e24 !important;
    }
 
 
    /*event with fixed time, in month view*/
    .dhx_cal_event_clear.manager_event{
        color: black !important;
    }
    .dhx_cal_event_clear.employee_event{
        color: black !important;
    }

    .dhx_cal_light.dhx_cal_light_responsive {
        width: 90vw!important;
        height: auto!important;
        left: 5%!important;
        top: 75vw!important;
        font-size: 1.5rem!important;
        line-height: 2vw!important;
        padding-bottom: 2vw;
    }

    .dhx_section_time select {
      font-size: 2.5vw!important;
    }

    .dhx_cal_tab {
      width: 60px!important;
    }

    .dhx_cal_navline.dhx_cal_navline_flex .dhx_cal_tab, .dhx_cal_navline.dhx_cal_navline_flex .dhx_cal_tab.active {
      font-size: 0.6rem!important;
      padding: 0 2px!important;
      color: white;
    }
    .dhx_cal_navline.dhx_cal_navline_flex .dhx_cal_today_button {
      width: 80px;
    }

    @media only screen and (min-width: 450px) {

      .dhx_cal_light.dhx_cal_light_responsive .dhx_form_repeat {
          margin: 4rem 0 0 1.5rem!important;
      }
      .dhx_cal_light.dhx_cal_light_responsive .dhx_cal_lsection {
          font-size: 1.5rem!important;
      }
      .dhx_cal_light.dhx_cal_light_responsive textarea, .dhx_cal_light.dhx_cal_light_responsive .dhx_cal_lsection div.dhx_custom_button, .dhx_cal_light.dhx_cal_light_responsive .dhx_form_repeat label, .dhx_cal_light.dhx_cal_light_responsive .dhx_form_repeat .dhx_repeat_text, .dhx_cal_light.dhx_cal_light_responsive .dhx_form_repeat .dhx_repeat_days label, .dhx_cal_light.dhx_cal_light_responsive .dhx_wrap_section .dhx_section_time select {
        font-size: 1rem!important;
        line-height: 1.5rem!important;
      }
  
      .dhx_cal_light.dhx_cal_light_responsive input, .dhx_cal_light.dhx_cal_light_responsive .dhx_form_repeat form .dhx_repeat_text,   .dhx_cal_light.dhx_cal_light_responsive .dhx_form_repeat .dhx_repeat_days label, .dhx_cal_light.dhx_cal_light_responsive .dhx_form_repeat .dhx_repeat_date {
        width: 1.5rem!important;
        height: 1.5rem!important;
      }

      .dhx_cal_light.dhx_cal_light_responsive .dhx_form_repeat .dhx_repeat_checkbox {
        width: 1rem!important;
        height: 1rem!important;
      }
  
      .dhx_cal_light.dhx_cal_light_responsive .dhx_form_repeat .dhx_repeat_left {
        height: 4rem!important;
      }
  
      .dhx_cal_light.dhx_cal_light_responsive .dhx_form_repeat input {
        top: 0.25rem!important;
      }
      .dhx_cal_light.dhx_cal_light_responsive .dhx_form_repeat form select {
        width: 9rem!important;
        height: 1.5rem!important;
      }

      .dhx_cal_light.dhx_cal_light_responsive .dhx_form_repeat div {
        width: 60vw!important;
      }
      
      .dhx_cal_light.dhx_cal_light_responsive .dhx_wrap_section .dhx_section_time {
        padding-left: 1.5rem!important;
        width: 70vw!important;
        min-height: 19.531vw!important;
        margin-top: 55px;
      }

      .dhx_cal_light.dhx_cal_light_responsive .dhx_btn_set {
        margin-bottom: 10px!important;
        font-size: 1.5rem;
        height: auto!important;
        padding: 10px;
      }

      .dhx_cal_light.dhx_cal_light_responsive {
        height: auto!important;
      }
    }      
