.roster {
  width: 100%;
  height: 1000px;
  img {
      max-width: 60px !important;
      // max-height: 50px;
    }
}

.sticky-table-table {
    white-space: pre-wrap !important;
    width: 100%;
  }

  .table-container {
    height: 200%;
    border-top: 5px solid #ed1e24;
    overflow-x: hidden;
    overflow-y: hidden;
    
    width: 100%; 
  }

.address {
  white-space: nowrap;
  padding: 0 70px;
}

.street {
  white-space: pre-line;
}

.phone {
  white-space: nowrap;
}

.size {
  padding: 0 15px
}