// .adminPage {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   padding: 0px 5px;
//   text-align: center;

// }

.adminPage {
  width: 95% !important;
  margin-bottom: 20px;

  .adminLinks {
    text-align: left;
    margin: 0 !important;
    padding: 0;
    width: 80vw;
  }

  .coachesContact {
    text-align: left;
    margin: 0 !important;
    padding: 0px 0px 0px 20px;
    width: 105vw;
    border: 2px solid #ed1e24;

    .admin-title {
      color: #ed1e24 !important;
      text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
      margin: auto;
    }
  }
}



h4 {
  color: #ed1e24 !important;
}

@media only screen and (min-width: 450px) {
  .adminPage {
  width: 95% !important;
  margin-bottom: 20px;

  .adminLinks {
    text-align: left;
    margin: 0 !important;
    padding: 0;
    width: 30vw;
  }

  .coachesContact {
    text-align: left;
    margin: 0 !important;
    padding: 0px 0px 0px 20px;
    width: 60vw;
    border: 2px solid #ed1e24;

    .admin-title {
      color: #ed1e24 !important;
      text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
      margin: auto;
    }
  }
}

}
