.header {
  height: 200px;
  width: 100%;
  display: block;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 75%;
    width: 200px;
    // padding: 25px;
  }

  .options {
    width: 90%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
    }
  }

  .selected {
    color: red;
  }
}

@media screen and (min-width: 450px) {
  .header {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-container {
      height: 100%;
      width: 200px;
      padding: 25px;
    }

    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .option {
        padding: 10px 15px;
      }
    }

    .selected {
      color: red;
    }
  }
}
