.footer {
  background-color: red;
  height: 250px;
  margin-top: 50px;
  width: 100%;
  color: white;
  text-align: center;

  a {
    color: black;
    font-size: 2rem;
    font-weight: 400;
  }

  a:hover {
    text-decoration-line: underline;
    color: black;
  }

  & h1 {
    color: white;
  }

  h2 {
    font-size: large;
  }
}

@media screen and (min-width: 450px) {
  .footer {
    background-color: red;
    height: 250px;
    margin-top: 50px;
    width: 100%;
    color: white;
    text-align: center;

    a:hover {
      text-decoration-line: underline;
      color: black;
    }

    & h1 {
      color: white;
      font-size: 4rem;
      font-weight: 600;
    }

    h2 {
      font-size: xx-large;
    }
  }
}
