.footer {
  background-color: red;
  height: 200px;
  margin-top: 50px;
  width: 100%;
  // display: flex;
  // justify-content: center;
  text-align: center;

  a:hover {
    text-decoration-line: underline;
    color: black;
  }
  

}