.upload {
  display: flex;
  flex-direction: column;

  .file {
    width: 100px;
  }

  .uploadFirebase {
    width: 89px;
  }

  .uploadFirebase:enabled {
    background-color: #ed1e24
  }

  .custom-file-upload {
    border: 1px solid black;
    display: inline-block;
    padding: 2px 2px;
    cursor: pointer; 
  }
}
