.upload {
  display: flex;
  flex-direction: column;

  .uploadFirebase {
    width: 89px;
  }

  .uploadFirebase:enabled {
    background-color: #ed1e24
  }

}

.fileImage {
  max-width: 300px !important;
  // height: 50px;
}