.checkout-page {
  width: 90%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    //   .header-block {
    //     text-transform: capitalize;
    //     width: 20%;

    //     &:last-child {
    //       width: 8%;
    //     }
    //   }
  }

  .image {
    width: 23%;
    padding-right: 15px;
  }
  .title {
    width: 25%;
  }
  .quantity,
  .color,
  .size {
    width: 20%;
  }

  .price,
  .remove {
    width: 12%;
  }

  // .price {
  //   width: 8%;
  // }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
}
